<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="none">
    <listeners>
        <listener class-name="utilites.Listener"></listener>

    </listeners>
    <test name="ChromeTest">
        <parameter name="browser" value="chrome">
        </parameter>

        <classes>
            <class name="demoblazeApplicationTest.DemoblazeTest">
            </class>
        </classes>
    </test>

    <!--    For Comment
    <test name="FireFoxTest">
        <parameter name="browser" value="firefox">
        </parameter>
        <classes>
            <class name="demoblazeApplicationTest.DemoblazeTest">
            </class>
        </classes>
    </test>

    <test name="EdgeTest">
        <parameter name="browser" value="ie">
        </parameter>
        <classes>
            <class name="demoblazeApplicationTest.DemoblazeTest">
            </class>
        </classes>
    </test>
    -->
</suite>